*{
   margin: 0; 
   padding: 0;

}
body{
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width:1000px ;
   background-color: gray;
   margin: 0 auto;
   padding: 20px;
}
header{


}
.profile-image{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding-top: 25px;
    padding-left: 10px;
}
h1,h2,h3,h4,h5,h6{
    color: teal;
}
.header-contact{
    float: right;
    padding-top: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration:underline;
    color: chartreuse;
}
.div-clear{
    
    clear: both;
}
hr{
border: solid black 3px;
width: 100%;
margin: 20px auto;
border-bottom: none;
}
/*---------------------- 
personal dummy section
-----------------------*/
#personal-section{

}
.content{

}
.left-div{   
     width: 30%;
   float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border: solid black 5px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

/*---------------------- 
work experience dummy section
-----------------------*/
#experience-section{
}
/*---------------------- 
edu dummy section
-----------------------*/
#education-section{
}
.eduleft-div{
    float: left;
    width: 45%;
}
.eduright-div{
    float: right;
    width: 45%;
}
/*---------------------- 
footer  section
-----------------------*/
.bottom-container {
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
  
color: white;
text-decoration: none;
margin: 20px;
}
.bottom-container p{
  
    color: white;
    margin-top: 20px;
    }
    




